{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
        <div style="margin-top:30px;padding-top:30px;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Forum de Guilde</div>
                <div class="panel-body">
                    <!-- List group -->
                    <ul class="list-group">
                        {% for forum in forums %}
                            <li class="list-group-item active">{{forum.titre}}</li>
                            <ul class="list-group">
                                {% for subForum in forum.listSubForum %}

                                        <li class="list-group-item" style="padding-bottom:30px; height:75px">
											<a href="./forum/{{subForum.id}}">
												<span id="titre-subForum" class="col-lg-2 col-xs-2 col-lg-offset-1 col-xs-offset-1 ">{{subForum.titre}}
												<br/>
												<h5><small>{{subForum.description}}</small></h5>
												</span>
											</a>
											<span class="col-lg-3 col-xs-3"></span>
											{#
                                                Détermination du dernier post à afficher
                                            #}
                                            {% set lastTopic = null %}
                                            {% for topic in subForum.listTopic %}
                                                {% if lastTopic is null %}
                                                    {% set lastTopic = topic %}
                                                {% elseif lastTopic.dateLastReply < topic.dateLastReply %}
                                                    {% set lastTopic = topic %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if lastTopic is null %}
												<span id="titre-last-post" class="col-lg-3 col-xs-3 "> </span>
                                            {% else %}
												<a href="./forum/{{subForum.id}}/topic/{{lastTopic.id}}">
													<span id="titre-last-post" class="col-lg-3 col-xs-3 ">{{lastTopic.titre}}
													<br/>
													<h5><small>{{lastTopic.dateLastReply|time_diff}}</small></h5>
													</span>
												</a>
                                            {% endif %}
                                            <span id="date" class="col-lg-3 col-xs-3">20/05/1994</span>
                                        </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}