{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <div style="margin-top:30px;padding-top:30px;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Forum de Guilde</div>
                <div class="panel-body">
					<a href="{{path('site_forum_createTopic', {'idSubForum' : idSubForum } )}}">
						<button class="btn btn-primary" >Nouveau Topic</button>
					</a>
					<br/>
					<br/>
                    <!-- List group -->
                    <ul class="list-group">

                        {% for subForum in subForums %}

                            <li class="list-group-item active">{{subForum.titre}}</li>
                            <ul class="list-group">

                                {% for topic in subForum.listTopic %}

                                    <a href="{{subForum.id}}/topic/{{topic.id}}">
                                        <li class="list-group-item" style="padding-bottom:30px; height:75px">
                                            <span id="titre-topic" class="col-lg-2 col-xs-2 col-lg-offset-1 col-xs-offset-1">{{topic.titre}}
                                            <br/>
                                            {#<h5><small>{{subForum.description}}</small></h5>#}
                                            </span>
                                            {#
                                                Détermination du dernier post à afficher
                                            #}
											{#
                                            {% set lastTopic = null %}
                                            {% for topic in subForum.listTopic %}
                                                {% if lastTopic is null %}
                                                    {% set lastTopic = topic %}
                                                {% elseif lastTopic.dateLastReply < topic.dateLastReply %}
                                                    {% set lastTopic = topic %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if lastTopic is null %}

                                            {% else %}
                                                <span id="titre-last-post" class="col-lg-3 ">{{lastTopic.titre}}
                                                <br/>
                                                <h5><small>{{lastTopic.dateLastReply|time_diff}}</small></h5>
                                            {% endif %}
                                            </span>
											#}
											<span class="col-lg-3 col-xs-3"></span>
                                            <span id="apercu-mess" class="col-lg-3 col-xs-3">C'était pas sa faute mais bon il a ...</span>
                                            <span id="date" class="col-lg-3 col-xs-3">{{topic.dateLastReply|date('d-m-Y H:i:s')}}</span>
                                        </li>
                                    </a>

                                {% endfor %}

                            </ul>

                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}