{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid" style="padding:0px">
        <!-- <div style="margin-top:30px;padding-top:30px;"> -->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
					<div class="breadscrumb">
						<a href="{{path('site_forum_homepage')}}">Forum de guilde</a>
						>
						{{subForum.titre}}
					</div></div>
                <div class="panel-body">
					<a href="{{path('site_forum_createTopic', {'idSubForum' : idSubForum } )}}">
						<button class="btn btn-primary" >Nouveau Topic</button>
					</a>
					<br/>
					<br/>
                    <!-- List group -->
                    <ul class="list-group">
                            <li class="list-group-item active">{{subForum.titre}}</li>
                            <ul class="list-group">

                                {% for topic in subForum.listTopic %}

                                    <a href="{{subForum.id}}/topic/{{topic.id}}">
                                        <li class="list-group-item" style="padding-bottom:30px; height:75px">
                                            <span id="titre-topic" class="col-lg-2 col-xs-2 col-lg-offset-1 col-xs-offset-1">{{topic.titre}}
                                            <br/>
                                            {#<h5><small>{{subForum.description}}</small></h5>#}
                                            </span>

                                            {#
                                               Determinate last comment of topic
                                            #}
											{% set lastComment = null %}
                                            {% for comment in topic.listComment %}
                                                {% if lastComment is null %}
                                                    {% set lastComment = comment %}
                                                {% elseif lastComment.datePublication < comment.datePublication %}
                                                    {% set lastComment = comment %}
                                                {% endif %}
                                            {% endfor %}
											<span class="col-lg-3 col-xs-3"></span>
											{#
												filter strptags to suppress html element
												filter truncate to display limit comment
											#}
                                            <span id="apercu-mess" class="col-lg-3 col-xs-3">{{lastComment.contenu | striptags | truncate(20,true,"...") }}</span>
                                            <span id="date" class="col-lg-3 col-xs-3">{{topic.dateLastReply|date('d-m-Y H:i:s')}}</span>
                                        </li>
                                    </a>

                                {% endfor %}

                            </ul>
                    </ul>
                </div>
            </div>
       <!-- </div> -->
    </div>
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}