{% extends "::base.html.twig" %}

{% block body %}
    {% for topic in topic %}
    <div class="container">
        <div class="jumbotron"style="margin-top:30px;padding-top:10px;">
          <div class="row">
            <div id="titre-post">
              <h2>{{topic.titre}}</h2>
            </div>
          </div>
          <br/>
          {% for comment in topic.listComment %}
            <div class="row">
              <div id="info-member" class="col-lg-3 col-sm-3 col-xm-3 col-xs-6">
                <a href="#" class="thumbnail" >
                  <img src="{{ asset('images/avatar/'~comment.getFkAuteur.id~'.jpg')}}" alt="..." >
                </a>
                @{{comment.getFkAuteur.pseudo}}
				<br/>
				<br/>
              </div>
			  <div class="col-xs-6"></div>
              <div id="post" class="col-lg-6 col-sm-6 col-xm-6 col-xs-12 text-justify">
                {{comment.contenu}}
				<br/>
				<br/>
              </div>
              <div id="after-post" class="col-lg-3 col-sm-3 col-xm-3 col-xs-12 text-justify">
                {{comment.datePublication|date('d-m-Y H:i:s')}}
              </div>
            </div>
            <br/>
			<br/>
           {% endfor %}
			<div class="row">
				{{form(form)}}
			</div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}